* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f3f3f3;
}

strong {
    font-weight: bold;
}

span {
    display: inline-block;
}

/* Layout Bate Papo UOL */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    padding: 22px;
}

.logo img {
    height: 53px;
    width: 75px;
}

.users ion-icon {
    font-size: 42px;
}

main {
    margin: 106px 0;
}

.message.in-out-color {
    background-color: #DCDCDC;
}

.message.reserved-color {
    background-color: #FFDEDE;
}

.message {
    display: flex;
    align-items: center;

    background-color: #fff;
    width: 100%;
    padding: 0 8px;
    margin-bottom: 4px;
    font-size: 14px;

    line-height: 20px;
}

.message .text {
    padding: 10px 2px;
}

.message .hour {
    color: #AAAAAA;
    margin-right: 5px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    padding: 0 17px;
}

footer input {
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    color: #000;
}

footer input::placeholder {
    color: #000;
}

footer .send-message ion-icon {
    font-size: 26px;
}

/* Signin Screen */

.signin {
    display: flex;
    justify-content: center;

    background-color: #fff;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.signin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 261px;
    margin-top: 72px;
}

.name-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin-container > img {
    height: 92px;
    width: 130px;
    margin-bottom: 94px;
}

.name-section .name-error {
    color: red;
    font-size: 14px;
    margin-bottom: 15px;
    text-align: center;
}

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signin-container .loading img {
    width: 150px;
}

.loading > h3 {
    font-size: 18px;
}

.signin-container input {
    width: 100%;
    height: 54px;
    font-size: 18px;
    font-weight: 400;
    outline: none;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    color: #AEAEAE;
    text-align: center;
    margin-bottom: 15px;
}

.name-section input::placeholder {
    color: #AEAEAE;
}

.signin-container button {
    width: 109px;
    height: 45px;
    background-color: #E7E7E7;
    border-radius: 9px;
    color: #696969;
    font-size: 18px;
    outline: none;
    border: none;
    cursor: pointer;
}

/* Sidebar Users */

aside {
    background: rgba(0, 0, 0, 0.6);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1;
}

aside > div {
    background-color: #fff;
    width: 69%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0 20px;
}

.sidebar-title {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 84px;
    width: 100%;
    text-align: center;
}

.sidebar-title h1 {
    font-size: 16px;
    font-weight: bold;
}

.all-user, .user, .public, .reserved {
    display: flex;
    align-items: center;

    height: 36px;
    font-size: 16px;
    font-weight: 400;
}

aside > div ion-icon {
    font-size: 25px;
    margin-right: 5px;
    margin-top: -3px;
}

aside > div h2 {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 66px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}

aside > div p, aside > div h3 {
    flex: 1;
}

.hidden {
    display: none;
}

